<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DB_Python_Booking" connectionString="Data Source=153.109.124.35;Initial Catalog=DB_Python_Booking;Integrated Security=False;User Id=6231db;Password=Pwd46231.;MultipleActiveResultSets=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>