@model DTO.Parcelle

@{
    ViewBag.Title = "Home Page";
}


<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <div class="booking-form">
                        @using (Html.BeginForm("Parcelle", "Home", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <span class="form-label">Parcelle No.</span>
                                        @Html.DropDownListFor(model => model.IdParcelle,
                                            new List<SelectListItem> {
                                                new SelectListItem { Value = "100" , Text = "100" },
                                                new SelectListItem { Value = "101" , Text = "101" },
                                                new SelectListItem { Value = "102" , Text = "102" }
                                            },
                                            new { @class= "form-control" })

                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-btn">
                                <button class="submit-btn">Acceder</button>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>